<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Italian Deli</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="/Content/card.css">
</head>
<body>

            <div class="bs-component">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Web-Deli", "Index", "Home", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                @if (Request.IsAuthenticated && User.IsInRole("Cook"))
                                {
                                    <li>@Html.ActionLink("Orders", "CookOrders", "Orders")</li>
                                }
                                else if (Request.IsAuthenticated && User.Identity.Name == "delivery@gmail.com")
                                {
                                    <li>@Html.ActionLink("Orders", "DeliveryOrders", "Orders")</li>
                                }
                                else if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Area <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                                            <li>@Html.ActionLink("Catagorie", "Index", "Catagories")</li>
                                            <li>@Html.ActionLink("Analytics", "Index", "Analytics")</li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Roles Admin</li>
                                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                        </ul>
                                    </li>
                                }
                                @if(!User.IsInRole("Cook") && User.Identity.Name != "delivery@gmail.com")
                                { 
                                    <li>@Html.ActionLink("Food", "Index", "Items")</li>
                                    if(Request.IsAuthenticated && User.Identity.Name != "guest@guest.com")
                                    {
                                        @*Only show orders history link for logged in users who are not logged is as guest I guess,
                                          other it will show history of all guest logins orders which I don't think we want.*@
                                        <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                                    }
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                            
                            @Html.Partial("_LoginPartial")
                           
                        </div>

                    </div>
                </div>

                <div class="container body-content">
                    <div class="separator"></div>
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Done by DOSG</p>
                    </footer>
                </div>

                @RenderSection("scripts", required: false)
</body>
</html>
